<!-- ログインした状態のナビゲーションバー -->
  <% if logged_in? %>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/"><em>Post it</em></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navabr-content"
        aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <%= link_to "Users",users_path,class:"nav-link" %>
            </li>
            <li class="nav-item">
               <%= link_to "Profile",current_user,class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Setting",edit_user_path(current_user),class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out",logout_path,method: :delete, class:"nav-link"  %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!--ログアウト状態のナビバー -->
  <% else %>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand btn" href="/">Post it</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navabr-content"
        aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item ">
              <%= link_to "Sign up",signup_path,class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in",login_url,class:"nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    
  
  <% end %>