<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
  </head>

  <body>
  <%= render "shared/header" %>
    
    <% flash.each do |message_type,message| %>
      <%=message_type %><%=message%>
    <% end %>
    
   <div class="container">
     <%= yield %>
   </div>
   <footer>
     <small><%= "(C)2019 Made by Ryosei Yoshikawa" %></small>
   </footer>
    
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>
